<mat-card>
    <mat-card-content>
        <section class="layout">
            <div class="grow1">Nome, Apelido e Descrição</div>
            <div class="grow1">personType e identity</div>
            <div class="grow1">avatar</div>
            <div class="grow1">notas</div>
            <div class="grow1" style="text-align: center;">
                <button mat-button color="accent">Editar</button>
                <button mat-button color="warn">Deletar</button>
            </div>
          </section>
    </mat-card-content>
</mat-card>