<mat-sidenav-container class="sidebar-container">
    <mat-sidenav mode="side" opened>
        <section class="sidebar_grid" style="margin: 1rem">
            <div>
                <h1>GET</h1>
                <a mat-button routerLink="getallclients">GetAllClients</a><br>
                <a mat-button routerLink="getclientbyid">GetClientById</a><br>
                <a mat-button routerLink="getallclientswithoutdetails">GetAllClientsWithoutDetails</a><br>
                <a mat-button routerLink="getbyidwithoutdetails">GetClientByIdWithoutDetails</a>
            </div><br>
            <div>
                <h1>POST</h1>
                <a mat-button routerLink="insertallvalues">InsertAllValues</a><br>
                <a mat-button routerLink="insertmandatoryvalues">InsertMandatoryValues</a>
            </div><br>
            <div>
                <h1>DELETE</h1>
                <a mat-button routerLink="deletebyid">DeleteById</a>
            </div><br>
            <div>
                <h1>PUT</h1>
                <a mat-button routerLink="updateclient">UpdateClient</a>
            </div>
        </section>
    </mat-sidenav>
    <mat-sidenav-content class="location">
        <router-outlet/>
    </mat-sidenav-content>
</mat-sidenav-container>