.tipo {
    width: 17%;
}

.pais {
    width: 15%
}

.ddd {
    width: 11%;
}

.numero {
    width: 22%
}

hr {
    width: 97%;
    margin-top: -0.5rem;
    margin-right: 10rem;
    margin-bottom: 1rem;
    border: 1px solid gray;
}