<mat-card>
    <mat-card-content>
        <section class="grid_4x4">
            <div>
                <h2> Dados pessoais</h2>
                <div class="group-by-names">
                    <mat-form-field>
                        <mat-label>Código</mat-label>
                        <input matInput [(ngModel)]="codigo" disabled>
                    </mat-form-field>&nbsp;
                    <mat-form-field>
                        <mat-label>Tipo de cliente</mat-label>
                        <mat-select [(ngModel)]="tipo" required>
                            <mat-option value=1>Legal</mat-option>
                            <mat-option value=2>Otário</mat-option>
                            <mat-option value=3>Bobão</mat-option>
                        </mat-select>
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Nome</mat-label>
                        <input matInput [(ngModel)]="nome" required>
                    </mat-form-field>&nbsp;
                    <mat-form-field>
                        <mat-label>Apelido</mat-label>
                        <input matInput [(ngModel)]="apelido" required>
                    </mat-form-field>&nbsp;
                    <mat-form-field>
                        <mat-label>Descrição</mat-label>
                        <input matInput [(ngModel)]="descricao" required>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <h2>Identificação</h2>
                <div>
                    <mat-form-field>
                        <mat-label>Tipo de pessoa</mat-label>
                        <mat-select [(ngModel)]="tipo_pessoa" required>
                            <mat-option value=1>Física</mat-option>
                            <mat-option value=2>Jurídica</mat-option>
                        </mat-select>
                    </mat-form-field>&nbsp;
                    <mat-form-field>
                        <mat-label>Tipo de identidade</mat-label>
                        <mat-select [(ngModel)]="tipo_documento" required>
                            <mat-option value=1>RG</mat-option>
                            <mat-option value=2>CPF</mat-option>
                            <mat-option value=3>CNH</mat-option>
                            <mat-option value=4>CNPJ</mat-option>
                        </mat-select>
                    </mat-form-field>&nbsp;
                    <mat-form-field>
                        <mat-label>Identidade</mat-label>
                        <input matInput [(ngModel)]="identidade" required>
                    </mat-form-field><br>
                </div>
            </div>
            <div>
                <h2>Avatar</h2>
                <div>
                    <section class="layout">
                        <div>
                            <h3>Seu avatar aparecerá ao lado:</h3>
                            <mat-form-field>
                                <mat-label>Avatar URL</mat-label>
                                <input matInput [(ngModel)]="avatar_url">
                            </mat-form-field>&nbsp;&nbsp;&nbsp;
                        </div>
                        <div>
                            <img alt="Avatar image" src={{avatar_url}} width="200px" height="200px"
                                style="margin-top: -50px;">
                        </div>
                    </section>
                </div>
            </div>
            <div>
                <h2>Adicionais</h2>
                <div>
                    <mat-form-field>
                        <mat-label>Notas</mat-label>
                        <input matInput [(ngModel)]="notas">
                    </mat-form-field>&nbsp;
                    <mat-form-field>
                        <mat-label>Aniversário</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="aniversario" required>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </section>
        <section class="grid_3x1">
            <div class="border-top">
                <h2>Telefones</h2>
                <app-formphone [values]=telefone (eventEmit)="defineTelephone($event)"></app-formphone>
            </div>
            <div class="border-top">
                <h2>Emails</h2>
                <app-formemail [values]=email (eventEmit)="defineEmail($event)"></app-formemail>
            </div>
            <div class="border-top">
                <h2>Endereços</h2>
                <app-formaddress [values]=endereco (eventEmit)="defineAddress($event)"></app-formaddress>
            </div>
        </section>
    </mat-card-content>
    <br>
    <div style="text-align: center; margin-bottom: 1rem">
        <button mat-flat-button color="primary" (click)="updateCustomer()">Salvar</button>
        &nbsp;
        <a mat-flat-button color="warn" routerLink="/customers">Cancelar</a>
    </div>
</mat-card>