.tipo {
    width: 17%;
}

.codigo_postal {
    width: 26%;
}

.rua {
    width: 32.5%;
}

.numero {
    width: 18%;
}

.complemento {
    width: 30%;
}

.bairro {
    width: 32.5%;
}

.cidade {
    width: 30%;
}

.estado {
    width: 27%;
}

.pais {
    width: 25%;
}