<div>
    @for (value of values; track $index) {
        <mat-form-field class="tipo">
            <mat-label>Tipo</mat-label>
            <mat-select [(ngModel)]="values[$index].type.code" (blur)="sendData(values)" required>
                <mat-option value=1>Pessoal</mat-option>
                <mat-option value=2>Trabalho</mat-option>
                <mat-option value=3>Outro</mat-option>
            </mat-select>
        </mat-form-field>&nbsp;
        <mat-form-field class="codigo_postal">
            <mat-label>CEP</mat-label>
            <input matInput [(ngModel)]="values[$index].postalCode" (blur)="getInfoByCEP($index)" required>
        </mat-form-field>&nbsp;
        <mat-form-field class="numero">
            <mat-label>Número</mat-label>
            <input matInput [(ngModel)]="values[$index].number" (blur)="sendData(values)" required>
        </mat-form-field><br>
        <mat-form-field class="complemento">
            <mat-label>Complemento</mat-label>
            <input matInput [(ngModel)]="values[$index].complement" (blur)="sendData(values)">
        </mat-form-field>&nbsp;
        <mat-form-field class="rua">
            <mat-label>Rua</mat-label>
            <input matInput [(ngModel)]="values[$index].street" (blur)="sendData(values)" required>
        </mat-form-field><br>
        <mat-form-field class="bairro">
            <mat-label>Bairro</mat-label>
            <input matInput [(ngModel)]="values[$index].neighborhood" (blur)="sendData(values)" required>
        </mat-form-field>&nbsp;
        <mat-form-field class="cidade">
            <mat-label>Cidade</mat-label>
            <input matInput [(ngModel)]="values[$index].city" (blur)="sendData(values)" required>
        </mat-form-field><br>
        <mat-form-field class="estado">
            <mat-label>Estado</mat-label>
            <input matInput [(ngModel)]="values[$index].state" (blur)="sendData(values)" required>
        </mat-form-field>&nbsp;
        <mat-form-field class="pais">
            <mat-label>País</mat-label>
            <input matInput [(ngModel)]="values[$index].country" (blur)="sendData(values)" required>
        </mat-form-field>
        @if (values.length != 1) {
            <button mat-button color="warn" (click)="removeValue($index)">&nbsp;&nbsp;&nbsp;Remover endereço</button>
        }
        <br>
        @if (values.length > 1){<hr>}
        
    }
    <button mat-button color="accent" (click)="addValue()">Adicionar novo telefone</button>
</div>