h1,
h2,
h3 {
    color: white;
}

p {
    color: white
}

.titlep {
    font-size: 4rem;
    margin:2rem;
}
.subtitlep{
    font-size: 2rem;
    margin: 1.4rem;
}

.aligncontent {
    text-align: center;
}

.grid_2x2 {
    width: 1400px;
    height: 750px;
    margin: 1rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, auto);
    gap: 8px;
}

hr{
    width: 90%;
    margin-top: -0.5rem;
    margin-right: 10rem;
    margin-bottom: 1rem;
    border: 1px solid gray;
}